.form {
    display: flex;
    flex-direction: column;
    color: white;
    will-change: transform;
    transform: translateY(1rem);
    animation: appear 1s ease forwards;
}

@keyframes appear {
    from {
        transform: translateY(1rem);
    }
    to {
        transform: translateY(-2rem);
    }
}

.form form {
    max-width: 300px;
}

.form__title {
    margin: 0 0 0.2rem;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.1em
}

.form__subtitle {
    margin: 0 0 2.2rem;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 100;
}

.form__button {
    cursor: pointer;
    border: none;
    padding: 0.6rem;
    border-radius: 1rem;
    font-family: "Helvetica";
    margin-top: 1.4rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.form-field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1.2rem;
    gap: 0.8rem;
}

.form-field__label {
    align-self: center;
    font-size: 0.8rem;
    font-weight: 300;
}

.form-field__input {
    padding: 0.4rem 0;
    outline: none;
    border: none;
    background: transparent !important;
    border-bottom: 1px solid white;
    width: 100%;
}

.form-field__range {
    display: flex;
    justify-content: space-between;
}

.form-field__error {
    margin-top: 0.2rem;
    font-size: 0.8rem;
}

input::placeholder,
input[type="date"]:not(:placeholder-shown) {
    color: rgba(255, 255, 255, 0.4);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
    background-color: transparent !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}
