.container {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
}

.item-1 {
  position: absolute !important;
  top: 0;
}

.item-2 {
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: center center;
  width: 300px;
  height: 300px;
}

.non-visible {
  opacity: 0;
}

.visible {
  animation: visible 300ms forwards;
}

@keyframes visible {
  from { opacity: 0; }
  to { opacity: 1; }
}